<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	    <h1 class='title'>Organization Chart</h1>
	    <a href="#/update" class="button button-clear button-positive">My Profile</a>
	</ion-nav-buttons>
	<ion-content>
		<div>
		  	<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" placeholder="Search" ng-model="userFilter" ng-focus="show();">
			</label>
		</div>
		<div ng-if="listView">
			<a ng-repeat="model in userList.models | UserFilter: userFilter" class="item item-icon-left" on-tap="$event.stopPropagation();select(null, model);hide();">
				<i class="icon ion-person"></i>
				<h2>
					<span>{{model.username}}</span>
				</h2>
				<p>
					{{model.email}}
				</p>
			</a>
			<p>
				<button class="button button-full button-positive" on-tap="$event.stopPropagation();hide();">Cancel</button>
			</p>
		</div>
		<div ng-if="listView==false" style="padding-top: 10px;">
			<div style="padding-top: 10px;">
				<treecontrol class="tree-light"
				   tree-model="collection"
				   expanded-nodes="expandedNodes"
				   options="{nodeChildren: 'subordinates',dirSelectable: true,allowDeselect: false, injectClasses: {'li': 'tree-li', 'labelSelected': 'tree-labelSelected'}}"
				   on-selection="showInfo(node)"
				   selected-node="selected"
				   on-node-toggle="showToggle(node, expanded)">
				    {{node.username}} ({{node.email}})
				</treecontrol>
			</div>
		</div>
	</ion-content>
</ion-view>