<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	    <h1 class='title'>
	    	<span>{{model.email}}</span>
	    </h1>
	    <button class="button button-clear button-positive" on-tap="save()">OK</button>	    
	</ion-nav-buttons>
	<ion-content>
		<ion-item>
			<div class="row">
				<div style="vertical-align: middle" class="col col-25">Supervisor:</div>
				<div class="col col-50"><label class="item item-input">
					<input id="selectedSuper" type="search" ng-model="model.supervisor.username" placeholder="Supervisor">
				</div>
				<div class="col col-25">
					<a class="button button-outline" on-tap="$event.stopPropagation();show();">Update</a>
				</div>
			</div>
		</ion-item>
			<div ng-if="userList">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" placeholder="Search" ng-model="userFilter">
				</label>
				<a ng-repeat="model in collection.models | UserFilter: userFilter" class="item item-icon-left" on-tap="$event.stopPropagation();select(model);">
					<i class="icon ion-person"></i>
					<h2>
						<span>{{model.username}}</span>
					</h2>
					<p>
						{{model.email}}
					</p>
				</a>
			</div>
			<ion-infinite-scroll ng-if="collection.page < collection.state.total_page && userList==true" on-infinite="loadMore()">
	</ion-content>
</ion-view>
