<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>
    	<!--<span>{{model.email}}</span>-->
    	<span>wnchui@yahoo.com</span>
    </h1>
    <a class="button button-clear" ng-click="save()">{{'Save' | translate}}</a>  
</ion-header-bar>
<ion-content>
	<div class="row">
		<div class="col col-33">
			Supervisor:
		</div>
		<div class="col">
			<label class="item item-input">
				<input type="text">
			</label>
		</div>
	</div>
</ion-content>