<ion-view>
	<ion-nav-buttons class="item-input-inset">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
	    <h1 class='title'>
	    	<span>{{model.email}}</span>
	    </h1>
	    <button class="button button-clear button-positive" on-tap="save()">OK</button>
	    
	</ion-nav-buttons>
	<ion-content>
		<ion-item>
			<div class="row">
				<div style="vertical-align: middle" class="col col-25">Supervisor:</div>
				<div class="col col-50"><label class="item item-input">
					<input id="selectedSuper" type="search" ng-model="model.supervisor.username" placeholder="Supervisor">
				</div>
				<div class="col col-25">
					<a class="button button-outline" ng-click="show(true)">Update</a>
				</div>
			</div>
		</ion-item>
		<div id="userList" ng-show="userList===true">
			<ion-list>
				<label class="item item-input">
				    <i class="icon ion-search placeholder-icon"></i>
				    <input type="search" placeholder="Search" ng-model="logFilter">
				</label>
				<ion-item>				
					<div class='row fontColor'>
						<div class='col'>
							Username
						</div>
						<div class='col'>
							Email
						</div>
						<div class='col'>
							URL
						</div>
					</div>
				</ion-item>
				<ion-item ng-repeat="model in collection.models" on-tap="read(model);show(false);">					
					<div class='row'>
						<div class='col'>
							{{model.username}}
						</div>
						<div class='col'>
							{{model.email}}
						</div>
						<div class='col'>
							{{model.url}}
						</div>
					</div>
				</ion-item>
			</ion-list>
		</div>
		<ion-infinite-scroll ng-if="collection.page < collection.state.total_page" on-infinite="loadMore()">
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>
