div.fontColor div{
	color: #666;
}
.tree-li{
	font-size: 16px;
	padding-top: 5px;
}
.tree-labelSelected{
	background-color: #fedbca;
}
div.nowrap {
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

